.contact {
  height: 100%;
  padding-top: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: '';
    background:
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.3)
        ),
        url("../img/model-1.jpg") center top;
    background-size: cover;
    opacity: 0.3;
    }

  h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      margin-bottom: 2rem;
  }

  &_list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      font-size: 1.5rem;
      padding-left: 2rem;
  }

  .social-icons {
      position: initial;
      margin-top: 2rem;
  }
}